@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
:root {
    --first-color: rgb(233 233 233);
    --secondary-color: rgb(219, 204, 163);
    --text-color: rgb(59, 49, 40);
    --secondary-text-color: rgb(47 65 159);
    --shadow: 0px 1px 2px rgba(170, 170, 170, .4);
    --font-family: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--first-color);
}

hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #CCC;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px auto;
}

h1, h2, h3 {
  margin: .3rem 0;
}

/* Animation */
@keyframes fadein {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}
/* /Animation */

#form h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: .8rem;
  text-transform: capitalize;
}

#logo {
    color: var(--first-color);
    margin-bottom: 1.5rem;
}

#side-menu {
    font-size: 1rem;
    padding: 1.2rem;
    background-color: var(--secondary-text-color);
}

#side-menu ul {
    list-style: none;
}

#side-menu ul li {
    /* border-bottom: 1px solid var(--secondary-text-color); */
    padding: .8rem 0;
}

#side-menu a {
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
    transition: .3s;
}

#side-menu a:hover {
  color: white;
}

#side-menu a.active {
  color: white;
}

#main-content {
    padding: 2rem;
    overflow: auto;
    animation: fadein .3s;
    position: relative;
}

#main-content .account {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1.5rem;
    border-radius: .3rem;
    margin-bottom: 1rem;
    box-shadow: var(--shadow);
}

#main-content h3 {
  font-weight: normal;
  text-transform: uppercase;
}

#main-content .balance {
    font-weight: 800;
    font-size: 2rem;
}

#main-content .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#actions {
    margin-top: 1rem;
}

#actions button {
    background-color: var(--first-color);
    color: var(--secondary-text-color);
    padding: .5rem;
    font-size: 1.1rem;
    border: 0;
    cursor: pointer;
    transition: .3s;
    border-radius: 3px;
    margin-right: .3rem;
}

#actions button:hover {
    background-color: rgba(219, 204, 163, .3);
    color: var(--text-color);
}

#login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  width: 100%;
  display: block;
}
#login {
  background-color: white;
  max-width: 610px;
  width: 100%;
  padding: 4rem;
  border-radius: 3px;
  box-shadow: var(--shadow);
}

#login #logo {
  color: var(--text-color);
  font-size: 2.8rem;
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
  padding-left: 0;
}

.main {
  font-size: 2rem;
  margin-bottom: 1rem;
}